<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel='stylesheet' href="css/style.css">
    <title>Netflix -Watch TV Shows Online, Watch Movies Online </title>

    <script src="https://kit.fontawesome.com/6d2a0faf69.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="static/main.js"></script>
</head>
<body>

    <header class="showcase">
        <div class="showcase-top">
            <img src="https://i.ibb.co/r5krrdz/logo.png" alt="" />
            <a href="#" class="btn btn-rounded">Sign In</a>
        </div>
        <div class="showcase-content">
            <h1>See what's next</h1>
            <p>Watch anywhere. Cancel Anytime</p>

            <!--검색창으로 변경 -->
            <div class="wrap">
                <div class="search">
            <input type="text" class="searchTerm" placeholder="What's your favorite movie?">
            <button id="go_top10" type="submit" method="get" onclick="goPage()" class="searchButton">
                     <i class="fa fa-search"></i>
                  </button>
                </div>
             </div>
        </div>
    </header>

    <footer class="footer">
        <p>Questions? Call 00-308-321-0161</p>
        <div class="footer-cols">
            <ul>
                <li><a href="https://help.netflix.com/en/node/412">FAQ</a></li>
                <li><a href="https://ir.netflix.net/ir-overview/profile/default.aspx">Investor Relations</a></li>
                <li><a href="https://devices.netflix.com/en/">Ways To Watch</a></li>
                <li><a href="https://help.netflix.com/en/legal/corpinfo">Corporate Information</a></li>
                <li><a href="https://www.netflix.com/kr-en/browse/genre/839338">Netflix Originals</a></li>
            </ul>
            <ul>
                <li><a href="https://help.netflix.com/en/">Help Center</a></li>
                <li><a href="https://jobs.netflix.com/">Jobs</a></li>
                <li><a href="https://help.netflix.com/en/legal/termsofuse">Terms Of Use</a></li>
                <li><a href="https://help.netflix.com/en/contactus">Contact Us</a></li>
            </ul>
            <ul>
                <li><a href="https://www.netflix.com/kr-en/login?nextpage=https%3A%2F%2Fwww.netflix.com%2Fyouraccount">Account</a></li>
                <li><a href="https://help.netflix.com/en/legal/privacy">Privacy</a></li>
                <li><a href="https://fast.com/en/">Speed Test</a></li>
            </ul>
            <ul>
                <li><a href="https://media.netflix.com/ko">Media Center</a></li>
                <li><a href="#">Cookie Preferences</a></li>
                <li><a href="https://help.netflix.com/en/legal/notices">Legal Notices</a></li>
            </ul>
        </div>
    </footer>
    
</body>
</html>